.card-container{
    width: 250px;
    height: 220px;
    overflow: hidden;
    box-shadow: black;
    border-radius: 10px;
    border: solid #C292FF;
    margin: 20px;
}


.card-tittle{
    font-size: 15px;
    font-weight: bold;
    background: #C292FF;
    text-align: center;
    padding: 5px;
}

.card-body{
    font-weight: lighter;
    padding: 10px;
    text-align: left;
}